body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: space-between;
}
